html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  color: blue;
  font-size: large;
  padding: 0 64px;
}

.wrapper {
  width: 65%;
  margin: auto;
}

.user-link {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 5px;
}
.user-link:hover {
  border-left: 10px solid #fe5f55;
}
